# ======================== Elasticsearch Configuration =========================
#
# NOTE: Elasticsearch comes with reasonable defaults for most settings.
#       Before you set out to tweak and tune the configuration, make sure you
#       understand what are you trying to accomplish and the consequences.
#
# The primary way of configuring a node is via this file. This template lists
# the most important settings you may want to configure for a production cluster.
#
# Please consult the documentation for further information on configuration options:
# https://www.elastic.co/guide/en/elasticsearch/reference/index.html
#
# ---------------------------------- Cluster -----------------------------------
#
# Use a descriptive name for your cluster:
#
cluster.name: {{ elasticsearch_cluster_name }}

#discovery.type: single-node

#transport.bind_host: {{ ansible_ssh_host }}
#transport.publish_host: {{ ansible_ssh_host }}
network.host: {{ ansible_ssh_host }}
#http.host: {{ ansible_ssh_host }}
#
# ------------------------------------ Node ------------------------------------
#
# Use a descriptive name for the node:
#
{% if elasticsearch_node_name is defined %}
node.name: {{ elasticsearch_node_name }}
{% else %}
node.name: {{ inventory_hostname }}
{% endif %}

{% if elasticsearch_node_master is defined %}
node.master: {{ elasticsearch_node_master }}
{% endif %}
{% if elasticsearch_node_data is defined %}
node.data: {{ elasticsearch_node_data }}
{% endif %}


#
# Add custom attributes to the node:
#
#node.attr.rack: r1
{% if elasticsearch_node_rack is defined %}
node.rack: {{ elasticsearch_node_rack }}
{% endif %}
#
# ----------------------------------- Paths ------------------------------------
#
# Path to directory where to store the data (separate multiple locations by comma):
#
#path.data: /path/to/data
#
# Path to log files:
#
#path.logs: /path/to/logs
#
# ----------------------------------- Memory -----------------------------------
#
# Lock the memory on startup:
#
bootstrap.memory_lock: true
#
# Make sure that the heap size is set to about half the memory available
# on the system and that the owner of the process is allowed to use this
# limit.
#
# Elasticsearch performs poorly when the system is swapping the memory.
#
# ---------------------------------- Network -----------------------------------
#
# Set the bind address to a specific IP (IPv4 or IPv6):
#
#network.host: 192.168.0.1
#
# Set a custom port for HTTP:
#
#http.port: 9200
#
# For more information, consult the network module documentation.
#
# --------------------------------- Discovery ----------------------------------
#
# Pass an initial list of hosts to perform discovery when new node is started:
# The default list of hosts is ["127.0.0.1", "[::1]"]
#
#
# Prevent the "split brain" by configuring the majority of nodes (total number of master-eligible nodes / 2 + 1):
{% if groups['elasticsearch_master'] is defined %}
discovery.zen.ping.unicast.hosts: [{{ groups['elasticsearch_master']|join(', ') }}]
{% else %}
discovery.zen.ping.unicast.hosts: [{{ groups['all']|join(', ') }}]
{% endif %}
{% if groups['elasticsearch_master'] is defined %}
discovery.zen.minimum_master_nodes:  {{ (groups['elasticsearch_master']|length /2)| round(0, 'ceil') | int}}
{% else %}
discovery.zen.minimum_master_nodes:  {{ (groups['all']|length /2)| round(0, 'ceil') | int}}
{% endif %}
#
# For more information, consult the zen discovery module documentation.
#
# ---------------------------------- Gateway -----------------------------------
#
# Block initial recovery after a full cluster restart until N nodes are started:
#
#gateway.recover_after_nodes: 3
#
# For more information, consult the gateway module documentation.
#
# ---------------------------------- Various -----------------------------------
#
# Require explicit names when deleting indices:
#
#action.destructive_requires_name: true

#change fd limits https://www.elastic.co/guide/en/elasticsearch/reference/current/file-descriptors.html
#change vm settings https://www.elastic.co/guide/en/elasticsearch/reference/current/vm-max-map-count.html
{% if elasticsearch_indices_fielddata_cache_size is defined %}
indices.fielddata.cache.size: {{ elasticsearch_indices_fielddata_cache_size }}
{% endif %}

{% if elasticsearch_indices_breaker_fielddata_limit is defined %}
indices.breaker.fielddata.limit: {{ elasticsearch_indices_breaker_fielddata_limit }}
{% endif %}

{% if elasticsearch_indices_breaker_request_limit is defined %}
indices.breaker.request.limit: {{ elasticsearch_indices_breaker_request_limit }}
{% endif %}

{% if elasticsearch_indices_breaker_total_limit is defined %}
indices.breaker.total.limit: {{ elasticsearch_indices_breaker_total_limit }}
{% endif %}

{% if elasticsearch_indices_memory_index_buffer_size is defined %}
indices.memory.index_buffer_size: {{ elasticsearch_indices_memory_index_buffer_size }}
{% endif %}

{% if elasticsearch_threadpool_bulk_queue_size is defined %}
thread_pool.bulk.queue_size: {{ elasticsearch_threadpool_bulk_queue_size }}
{% endif %}
{% if elasticsearch_threadpool_index_queue_size is defined %}
thread_pool.index.queue_size: {{ elasticsearch_threadpool_index_queue_size }}
{% endif %}
